VITE_API_URL=https://devstudio-tycoon-api.onrender.com
VITE_TG_ANALYTICS_TOKEN=replace_me
VITE_TG_ANALYTICS_APP_NAME=dst_open_beta

BOT_TOKEN=replace_me
MONGODB_URI=mongodb+srv://replace_me
WEBAPP_URL=https://devstudio-tycoon-stat.pages.dev
PUBLIC_BACKEND_URL=https://your-render-service.onrender.com
TELEGRAM_WEBHOOK_SECRET=replace_me
BOT_START_IMAGE_URL=https://devstudio-tycoon-stat.pages.dev/assets/bot-start-cover.png
